/*
 * Copyright (c) 2013 Linaro Ltd.
 * Copyright (c) 2013 Hisilicon Limited.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "hix5hd2.dtsi"

/ {
	model = "Hisilicon Hi3716 Development Board";
	compatible = "hisilicon,hi3716";

	chosen {
/*		bootargs = "console=ttyAMA0,115200";*/
		bootargs = "console=ttyAMA0,115200 root=/dev/mmcblk0p7 rootfstype=ext4 rootwait rw blkdevparts=mmcblk0:1M(boot),4M(baseparam),4M(pqparam),4M(logo),8M(kernel),96M(rootfs),48M(rootfs2),-(others)";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <0>;
			next-level-cache = <&l2>;
		};

		cpu@1 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <1>;
			next-level-cache = <&l2>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x80000000>;
	};

	soc {
		amba {
			timer0: timer@f8002000 {
				status = "okay";
			};

			uart0: uart@f8b00000 {
				status = "okay";
			};
		};
		gmac0: ethernet@f9840000 {
				phy-handle = <&phy0>;
				phy-mode = "mii";
				mac-address = [00 00 00 00 00 00];
				status = "okay"; 
			};
		gmac1: ethernet@f9841000 {
				phy-handle = <&phy1>;
				phy-mode = "rgmii"; 
				mac-address = [00 00 00 00 00 00];
				status = "okay";
			};
		mdio0: mdio0@f98403c0 {
                        status = "okay";
			phy0: ethernet-phy@2 {
				reg = <2>;
			};
                };
                mdio1: mdio1@f98413c0 {
                        status = "okay";
			phy1: ethernet-phy@1 {
				reg = <1>;
			};
                };
	};
};
